body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4faff;
    margin: 0;
    padding: 40px;
    text-align: center;
  }

  .container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
  }

  h1 {
    font-size: 30px;
    color: #1565c0;
    margin-bottom: 30px;
  }

  .dane-lekarza p {
    font-size: 18px;
    color: #3c063c;
    margin: 10px 0;
    text-align: left;
  }

  form {
    margin-top: 30px;
  }

  button[type="submit"] {
    background-color: #be1212;
    color: white;
    font-weight: bold;
    padding: 14px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button[type="submit"]:hover {
    background-color: #78ee2a;
  }
