<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autoryzacja</title>
    <link rel="stylesheet" href="/css/autoryzuj.css" />
    <link rel="stylesheet" href="/css/fontelloCSS/fontello.css" type="text/css">
</head>
<body>
<div class="container">
    <a href="/Neuca/strefaPracownika/potwierdzanieUzytkownikowAptekarze" class="tile"><i class="icon-stethoscope"></i>Autoryzuj Aptekarzy</a>
    <a href="/Neuca/strefaPracownika/potwierdzanieUzytkownikowLekarze" class="tile"><i class="icon-heartbeat"></i>Autoryzuj Lekarzy</a>
</div>
</body>
</html>