<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pozytywnie dodano lek</title>
    <link rel="stylesheet" href="/css/dodanoLek.css">
</head>
<body>

<div id="kontener">

    <div class="Prostokat">
        <h1>Dodano lek o następujących danych:</h1>

        <p><strong>Nazwa:</strong> <span th:text="${lek.name}"></span> </p>
        <p><strong>Opis:</strong> <span th:text="${lek.desc}"></span> </p>
        <p><strong>Cena w groszach:</strong> <span th:text="${lek.priceGR}"></span> </p>
        <p><strong>Minimalny wiek:</strong> <span th:text="${lek.minWiek}"></span> </p>
        <p><strong>Maksymalny wiek:</strong> <span th:text="${lek.maxWiek}"></span> </p>
        <p><strong>Rodzaj leku:</strong> <span th:text="${lek.rodzajLeku}"></span> </p>
        <p><strong>Marka leku:</strong> <span th:text="${lek.markaLeku}"></span> </p>
        <p><strong>Skład:</strong> <span th:text="${lek.sklad}"></span> </p>
        <p><strong>Dawkowanie:</strong> <span th:text="${lek.dawkowanie}"></span> </p>

        <img th:src="@{/Neuca/images/{filename}(filename=${#strings.substring(lek.sciezka, lek.sciezka.lastIndexOf('/') + 1)})}" width="150" height="200" alt="Zdjęcie leku" />


        <!-- <div class="button-group">
          <button onclick="window.location.href='lekiPracownik.html'">Powrót do listy leków</button>
        </div> -->
        <div class="links">
            <a href="/Neuca/strefaPracownika">Strefa Pracownika</a>
            <a href="/Neuca/strefaPracownika/przegladajLeki">Powrót do listy leków</a>
        </div>
    </div>

</div>

</body>
</html>
