<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POZYTYWNIE DODANO Lek</title>
</head>
<body>

<div id="kontener">

    <a href="start"   > <span th:text="#{menu.start}"></span> </a> </br>
    <div class="Prostokat">
        Dodano Lek taki jak nizej
        <p>Nazwa: <span th:text="${lek.name}"/></p>
        <p>Opis: <span th:text="${lek.desc}"/></p>
        <p>cena w Groszach: <span th:text="${lek.priceGR}"/></p>
        <p>minimum wiek: <span th:text="${lek.minWiek}"/></p>
        <p>Rodzaj leku <span th:text="${lek.rodzajLeku}"/></p>
        <p>Marka leku <span th:text="${lek.markaLeku}"/></p>
        <p>Sklad: <span th:text="${lek.sklad}"/></p>
        <p>Dawkowanie <span th:text="${lek.dawkowanie}"/></p>

        <img th:src="@{/Neuca/images/{filename}(filename=${#strings.substring(lek.sciezka, lek.sciezka.lastIndexOf('/') + 1)})}" width="150" height="200" alt="Zdjęcie leku" />




        <button th:text="#{powrot.leki}"></button>

    </div>
    <a href="/Neuca/strefaPracownika"   > <span th:text="#{pracownik.wroc}"></span> </a>
</div>

</body>
</html>