<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<span th:text="#{dodanoKoszyk.kom1}"></span>
<span th:text="${lek.name}"></span>
<span th:text="#{dodanoKoszyk.kom2}"></span>
<span th:text="${ile}"></span>
<form th:action="@{/Neuca/koszyk}" method="get">
    <button>Idz do koszyka</button>
</form>
<form th:action="@{/Neuca/buy}">
    <button>Kontynuj zakupy</button>
    <input type="hidden" name="page" th:value="${pageN}">
    <input type="hidden" name="size" th:value="${sizeN}">
    <input type="hidden" name="sort" th:value="${sortN}">
    <input type="hidden" name="wzorzec" th:value="${wzorzecN}">
    <input type="hidden" name="minPrize" th:value="${minPrizeN}">
    <input type="hidden" name="maxPrize" th:value="${maxPrizeN}">
    <input type="hidden" name="markaLeku" th:value="${markaLekuN}">
    <input type="hidden" name="rodzajLeku" th:value="${rodzajLekuN}">
</form>

</body>
</html>