<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodajemy Lek</title>
</head>
<body>
<a href="/Neuca/start"   > <span th:text="#{menu.start}"></span> </a> </br>
<form action="#" th:action="@{/Neuca/strefaPracownika/dodanoLek}" th:object="${lek}" method="post" enctype="multipart/form-data">

    <div class="miejsce">
        <p> Nazwa: <input type="text" th:field="*{name}"> </p>
    </div>

    <div class="miejsce">
        <p> Cena w groszach: <input type="number" th:field="*{priceGR}"> </p>
    </div>

    <div class="miejsce">
        <p> Gramatura: <input type="text" th:field="*{gramatura}"> </p>
    </div>

    <div class="miejsce">
        <p> Opis: <input type="text" th:field="*{desc}"> </p>
    </div>

    <div class="miejsce">
        <p> minWiek: <input type="number" th:field="*{minWiek}"> </p>
    </div>

    <div class="miejsce">
        <p>maxWiek: <input type="number" th:field="*{maxWiek}"> </p>
    </div>

    <div class="miejsce">
        <p> sklad: <input type="text" th:field="*{sklad}"> </p>
    </div>

    <div class="miejsce">
        <p> dawkowanie: <input type="text" th:field="*{dawkowanie}"> </p>
    </div>

    Wybierz Marke Leku
    <select name="markaLeku">
        <option th:each="marka :${marki}"
                th:text="${marka}">

        </option>
    </select>
    </br>


    Wybierz rodzaj leku
    <select>
        <option th:each="rodzaj :${rodzaje}"
        th:text="${rodzaj.slowo}">
    </select>
    </br>




    <div>
        <span th:text="#{lek.oferta}"></span>
        <input type="checkbox" th:field="*{oferta}" >
    </div>


    <div class="miejsce">
        <p>
            Zdjęcie leku:
            <input type="file" name="sciezkaPliku" onchange="previewImage(event)">

        </p>
    </div>
    <img id="preview"  src="" width="150"/>


    <script>
        function previewImage(event) {
            const preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>


    <input type="submit" th:value="#{lek.przycisk}">
</form>

</body>
</html>