<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil Aptekarza</title>
  <link rel="stylesheet" href="/css/mojProfil.css">
</head>
<body>
<div class="profile-container">
  <div class="profile-box">
    <h1>Edytuj dane</h1>
    <form action="#" th:action="@{/Neuca/strefaAptekarza/edytowanoApteke}" th:object="${apteka}" id="profileForm" method="post">
      <input type="text" id="pharmacyName" value="*{name}" th:field="*{name}" placeholder="Nazwa apteki" required>
      <input type="tel" id="phone" th:field="*{telefon}" placeholder="Numer telefonu" required>
      <input type="text" id="street" value="*{ulica}" th:field="*{ulica}" placeholder="Ulica" required>
      <input type="text" id="building" value="*{numerBud}" th:field="*{numerBud}" placeholder="Numer budynku" required>
      <input type="text" id="local" value="*{numerLokalu}" th:field="*{numerLokalu}" placeholder="Numer lokalu">
      <select th:field="*{wojewodztwo}" id="voiv" name="voiv" required>
        <option th:each="woj :${wojewodztwa}"
                th:value="${woj}"
                th:text="${woj}"
                th:field="*{wojewodztwo}">

        </option>
      </select>

      <input type="text" id="zip" value="*{kodPocztowy}" th:field="*{kodPocztowy}" placeholder="Kod pocztowy" required>
      <input type="text" id="city" value="*{miasto}" th:field="*{miasto}" placeholder="Miasto" required>

      <button type="submit" class="save-button">Zapisz zmiany</button>
      <button type="button" onclick="window.location.href='/Neuca/strefaAptekarza/zarzadzajApteka'" class="cancel-button">Anuluj</button>
    </form>
  </div>
</div>
</body>
</html>
