<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edycja Gabinetu</title>
</head>
<body>
<a href="/Neuca/strefaLekarza">Strefa Lekarza</a>

<form th:action="@{/Neuca/strefaLekarza/edytowanoGabinet}" th:object="${lekarz}" method="post" enctype="multipart/form-data">
  Imię: <input type="text" th:field="*{imie}"> <br/>
  Nazwisko: <input type="text" th:field="*{nazwisko}"> <br/>
  Nazwa Gabinetu: <input type="text" th:field="*{nazwaGabinetu}"> <br/>
  Data urodzenia: <input type="date" th:field="*{dataUrodzenia}"> <br/>
  Adres 1: <input type="text" th:field="*{adres1Gabinetu}"> <br/>
  Adres 2: <input type="text" th:field="*{adres2Gabinetu}"> <br/>
  Miasto: <input type="text" th:field="*{miasto}"> <br/>
  Telefon do gabinetu: <input type="number" th:field="*{telefonGabinet}"> <br/>
  Cena wizyty: <input type="number" th:field="*{cena}"> <br/>
  Średni czas wizyty [min]: <input type="number" th:field="*{sredniCzasWizyty}"> <br/>

  Specjalizacja:
  <select th:field="*{spec}">
    <option th:each="spec : ${spece}" th:value="${spec}" th:text="${spec}">Specjalizacja</option>
  </select>
  <br/>

  Zdjęcie: <input type="file" name="sciezkaPliku" onchange="previewImage(event)" /> <br/>

  <img id="preview"
       th:src="${lekarz.foto} != null ? @{'/Neuca/images/' + ${lekarz.foto}} : ''"
       width="150"
       style="display: [[${lekarz.foto} != null ? 'block' : 'none']]; margin-top: 10px;" />

  <script>
    function previewImage(event) {
        const preview = document.getElementById('preview');
        const file = event.target.files[0];
        if (file) {
            preview.src = URL.createObjectURL(file);
            preview.style.display = 'block';
        }
    }
  </script>

  <br/>
  <button type="submit">Edytuj gabinet</button>
</form>

</body>
</html>
