<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekarze</title>
    <link rel="stylesheet" href="/css/lekarze.css">
</head>
<body>
<div id="line"></div>
<div id="mainContainer">

    <div id="topMenu">
        <a href="/Neuca/start"><img src="/img/logo.png" id="logo"></a>
        <div id="wyszukiwarka">
            <form th:action="@{/Neuca/buy}">
                <input name="wzorzec" type="text" id="search" placeholder="Wyszukaj leku...">
                <button id="searchButton">Szukaj</button>
            </form>
        </div>
        <div class="panelLogowania" th:if="${not log}">
            <div class="ukryteLogowanie">
                <button id="loginButton" onclick="location.href='/Neuca/login'">Zaloguj</button>

            </div>
            <div class="ukryteLogowanie">
                <button id="registerButton">Zarejestruj</button>
                <div class="ukryteLogowanie-content">
                    <button onclick="location.href='/Neuca/rejestracjaPacjent'">Zarejestruj jako Pacjent</button>
                    <button onclick="location.href='/Neuca/rejestracjaAptekarz'">Zarejestruj jako Aptekarz</button>
                    <button onclick="location.href='/Neuca/rejestracjaLekarz'">Zarejestruj jako Lekarz</button>
                </div>
            </div>
        </div>
        <div class="panelLogowania" th:if="${log}">
            <div class="ukryteLogowanie">
                <button id="KoszykButton" onclick="location.href='/Neuca/koszyk'">Koszyk</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="MojeKontoButton" onclick="location.href='/Neuca/mojProfilPacjent'">Moje Konto</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="WylogujButton" onclick="location.href='/Neuca/logout'">Wyloguj</button>
            </div>

        </div>
        <img src="/img/avatar.png" id="avatar">
    </div>

    <div id="top2Menu">
        <div class="menu-item"><button onclick="location.href='/Neuca/lekarze'">Lekarze</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/apteka'">Apteki</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/uslugi'">Usługi</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/buy'">Leki</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/kontakt'">Kontakt</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/oNas'">O Nas</button></div>
    </div>
</div>

<div id="mainContainer2">
    <!-- Filtry po lewej stronie -->
    <div id="filters">
        <h3>Filtry</h3>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <div class="filter-item">
                <label for="specialization">Specjalizacja:</label>
                <select id="specialization" name="spec">
                    <option th:each="spec : ${spece}"
                            th:value="${spec}"
                            th:text="${spec}"
                            th:selected="${specW == spec}"
                    >
                    </option>


                </select>
            </div>

            <div class="filter-item">
                <label for="city">Miasto:</label>
                <input name="miasto" th:value="${miasto}" type="text" id="city"  placeholder="Wpisz miasto">
            </div>

            <button id="applyFilters">Zastosuj filtry</button>
            <input type="hidden" name="size" th:value="${size}">
        </form>
    </div>

    <!-- Lista lekarzy po prawej stronie -->
    <div id="products">
        <div id="pills_list">
            <div class="card" th:each ="lekarz : ${lekarze}">
                <div class="wrapper">
                    <img  th:src="${lekarz.foto} != null ? @{/Neuca/images/{filename}(filename=${lekarz.foto})} : @{/Neuca/images/brakZdjecia.jpg}"
                          width="300" height="200" />
                    <div class="content">
                        <p class="title" th:text="${lekarz.imie} + ' ' + ${lekarz.nazwisko}"></p>
                        <p class="title" th:text="${lekarz.spec}"></p>

                        <p class="title price" th:text="${lekarz.cena}+' zl'"></p>
                        <p th:text="${lekarz.miasto}"></p>
                    </div>
                    <a th:href="@{/Neuca/umowWizyte(id=${lekarz.id})}"><button class="card-btn">Umów wizytę</button></a>
                </div>
            </div>
        </div>






    </div>
</div>
<div id="pagination">
    <div id="page-info">
        <!-- Możesz dynamicznie zmieniać te wartości za pomocą JS -->
    </div>
    <div id="page-controls">
        <form th:action="@{/Neuca/lekarze}" th:if="${czyPoczatek}">
            <button>Wroc na początek</button>
            <input type="hidden" name="page" th:value="0">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
            <input type="hidden" name="size" th:value="${size}">
        </form>
        <form th:action="@{/Neuca/lekarze}" method="get" th:if="${czyPoczatek}">
            <button>Poprzednia</button>
            <input type="hidden" name="page" th:value="${poprzednia}">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
            <input type="hidden" name="size" th:value="${size}">
        </form>
        <span th:text="'Strona '+ ${pageN}+ ' z ' + ${pageWszystkie}" ></span>
        <form th:action="@{/Neuca/lekarze}" method="get" th:if="${czyKoniec}">
            <button>Następna</button>
            <input type="hidden" name="page" th:value="${nastepna}">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
            <input type="hidden" name="size" th:value="${size}">
        </form>
        <form th:action="@{/Neuca/lekarze}" th:if="${czyKoniec}" >
            <button>Idz na koniec</button>
            <input type="hidden" name="page" th:value="${naKoniec}">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
            <input type="hidden" name="size" th:value="${size}">
        </form>

    </div>
    <div class="items-per-page">
        <span id="itemsPerPage">Ilość produktów na stronie:</span>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <button class="items-per-page-option" th:classappend="${size == 5} ? 'active-size' : ''"  th:disabled="${size == 5}">5</button>
            <input type="hidden" name="size" th:value="5">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
        </form>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <button class="items-per-page-option" th:classappend="${size == 10} ? 'active-size' : ''"  th:disabled="${size == 10}">10</button>
            <input type="hidden" name="size" th:value="10">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
        </form>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <button class="items-per-page-option" th:classappend="${size == 15} ? 'active-size' : ''"  th:disabled="${size == 15}">15</button>
            <input type="hidden" name="size" th:value="15">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
        </form>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <button class="items-per-page-option" th:classappend="${size == 20} ? 'active-size' : ''"  th:disabled="${size == 20}">20</button>
            <input type="hidden" name="size" th:value="20">
            <input type="hidden" name="miasto" th:value="${miasto}">
            <input type="hidden" name="spec" th:value="${spec}">
        </form>

    </div>
</div>


<script>
    // Tu możesz dodać obsługę filtrowania JS w przyszłości
</script>

</body>
</html>