<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekarze</title>
    <link rel="stylesheet" href="/css/lekarze.css">
</head>
<body>
<div id="line"></div>
<div id="mainContainer">

    <div id="topMenu">
        <a href="/Neuca/start"><img src="/img/logo.png" id="logo"></a>
        <div id="wyszukiwarka">
            <form th:action="@{/Neuca/buy}">
                <input name="wzorzec" type="text" id="search" placeholder="Wyszukaj leku...">
                <button id="searchButton">Szukaj</button>
            </form>
        </div>
        <div class="panelLogowania" th:if="${not log}">
            <div class="ukryteLogowanie">
                <button id="loginButton" onclick="location.href='/Neuca/login'">Zaloguj</button>

            </div>
            <div class="ukryteLogowanie">
                <button id="registerButton">Zarejestruj</button>
                <div class="ukryteLogowanie-content">
                    <button onclick="location.href='/Neuca/rejestracjaPacjent'">Zarejestruj jako Pacjent</button>
                    <button onclick="location.href='/Neuca/rejestracjaAptekarz'">Zarejestruj jako Aptekarz</button>
                    <button onclick="location.href='/Neuca/rejestracjaLekarz'">Zarejestruj jako Lekarz</button>
                </div>
            </div>
        </div>
        <div class="panelLogowania" th:if="${log}">
            <div class="ukryteLogowanie">
                <button id="KoszykButton" onclick="location.href='/Neuca/koszyk'">Koszyk</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="MojeKontoButton" onclick="location.href='/Neuca/mojProfilPacjent'">Moje Konto</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="WylogujButton" onclick="location.href='/Neuca/logout'">Wyloguj</button>
            </div>

        </div>
        <img src="/img/avatar.png" id="avatar">
    </div>

    <div id="top2Menu">
        <div class="menu-item"><button onclick="location.href='/Neuca/lekarze'">Lekarze</button></div>
        <div class="menu-item"><button onclick="location.href='pharmacy.html'">Apteki</button></div>
        <div class="menu-item"><button onclick="location.href='uslugi.html'">Usługi</button></div>
        <div class="menu-item"><button onclick="location.href='/Neuca/buy'">Leki</button></div>
        <div class="menu-item"><button onclick="location.href='kontakt.html'">Kontakt</button></div>
        <div class="menu-item"><button onclick="location.href='oNas.html'">O Nas</button></div>
    </div>
</div>

<div id="mainContainer2">
    <!-- Filtry po lewej stronie -->
    <div id="filters">
        <h3>Filtry</h3>
        <form th:action="@{/Neuca/lekarze}" method="get">
            <div class="filter-item">
                <label for="specialization">Specjalizacja:</label>
                <select id="specialization" name="spec">
                    <option th:each="spec : ${spece}"
                            th:value="${spec}"
                            th:text="${spec}"
                            th:selected="${specW == spec}"
                    >
                    </option>


                </select>
            </div>

            <div class="filter-item">
                <label for="city">Miasto:</label>
                <input name="miasto" th:value="${miasto}" type="text" id="city"  placeholder="Wpisz miasto">
            </div>

            <button id="applyFilters">Zastosuj filtry</button>
        </form>
    </div>

    <!-- Lista lekarzy po prawej stronie -->
    <div id="products">
        <div id="pills_list">
            <div class="card" th:each ="lekarz : ${lekarze}">
                <div class="wrapper">
                    <img  th:src="${lekarz.foto} != null ? @{/Neuca/images/{filename}(filename=${lekarz.foto})} : @{/Neuca/images/brakZdjecia.jpg}"
                         width="300" height="200" /></div>
                    <div class="content">
                        <p class="title" th:text="${lekarz.imie} + ' ' + ${lekarz.nazwisko}"></p>
                        <p class="title" th:text="${lekarz.spec}"></p>

                        <p class="title price" th:text="${lekarz.cena}+' zl'"></p>
                        <p th:text="${lekarz.miasto}"></p>
                    </div>
                    <a href="umow.html"><button class="card-btn">Umów wizytę</button></a>
                </div>
            </div>






        </div>
    </div>
</div>

<script>
    // Tu możesz dodać obsługę filtrowania JS w przyszłości
</script>

</body>
</html>