<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcenter</title>
    <link rel="stylesheet" href="/css/mojProfilPacjent.css">

</head>
<body>
<div id="line"></div>
<div id = "mainContainer">

    <div id="topMenu">
        <a href="/Neuca/start"><img src="/img/logo.png" id="logo"></a>
        <div id="wyszukiwarka">
            <form th:action="@{/Neuca/buy}" method="get">
                <input type="text" id="search" name="wzorzec" placeholder="Wyszukaj...">
                <button id="searchButton">Szukaj</button>
            </form>
        </div>
        <div id="panelLogowania">
            <div class="ukryteLogowanie">
                <button id="koszykButton" onclick="location.href='/Neuca/koszyk'">Koszyk</button>

            </div>
            <div class="ukryteLogowanie">
                <button id="wylogujButton" onclick="location.href='/Neuca/logout'">Wyloguj</button>
            </div>
        </div>
        <img src="/img/avatar.png" id="avatar">
    </div>
    <div id="top2Menu">
        <div class="menu-item">
            <button id="doctorsButton" onclick="location.href='/Neuca/lekarze'">Lekarze</button>
        </div>

        <div class="menu-item">
            <button id="aptecsButton" onclick="location.href='pharmacy.html'">Apteki</button>
        </div>

        <div class="menu-item">
            <button id="servicesButton">Usługi</button>
        </div>

        <div class="menu-item">
            <button id="medicinesButton" onclick="location.href='/Neuca/buy'">Leki</button>
        </div>

        <div class="menu-item">
            <button id="contactButton">Kontakt</button>
        </div>

        <div class="menu-item">
            <button id="usButton">O nas</button>

        </div>
    </div>




</div>
<div id="witaj-box">
    <h2>Witaj, <span th:text="${user.username}"></span>!</h2>
    <p>W panelu sterowania konta można przeglądać ostatnie zamówienia i aktualizować dane. Kliknij poniższe łącze, aby przeglądać i edytować dane.</p>
</div>
<div class="info-section">
    <div class="info-box">
        <h2>Moje dane</h2>
        <p><strong>Imię i nazwisko:</strong> <span th:text="${user.imie} + ' ' + ${user.nazwisko}">Jan Kowalski</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">jan.kowalski@example.com</span></p>
        <p><strong>Telefon:</strong> <span th:text="${user.phone}">+48 123 456 789</span></p>
        <div class="button-container">
            <button class="button" onclick="location.href='/Neuca/edycjaPacjent'">Edytuj</button>
        </div>
    </div>
    <div class="info-box">
        <h2>Moje wizyty</h2>
        <p>Lista umówionych wizyt medycznych.</p>
        <div class="button-container">
            <button class="button" onclick="location.href='/Neuca/mojeWizyty'">Zarządzaj wizytami</button>
        </div>
    </div>
    <div class="info-box">
        <h2>Moje rezerwacje</h2>
        <div class="mini-table-slider">
            <table th:if="${czyTabela}" class="mini-reservation-table">
                <thead>
                <tr>
                    <th>ID Rezerwacji</th>
                    <th>Data odbioru</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r : ${lista}">
                    <td th:text="'RZV'+${r.id}"></td>
                    <td th:text="${r.dataOdbioru}"></td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="button-container">
            <button class="button" onclick="window.location.href='/Neuca/rezerwacjePacjent'">Przejdź do rezerwacji</button>
        </div>
    </div>
</div>
<div class="oredr-section">
    </br>
    <h3>Ostatnie zamówienia</h3>
    <table>
        <thead>
        <tr>
            <th>Zamówienie #</th>
            <th>Data</th>
            <th>Kwota</th>
            <th>Status</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zamowienie : ${zamowienia}">
            <td th:text="${zamowienie.id}"></td>
            <td th:text="${zamowienie.displayDateZamowienia}"></td>
            <td th:text="${zamowienie.calkowitaCena}"></td>
            <td th:text="${zamowienie.status}"></td>
            <td>
                <form th:action="@{/Neuca/zamowieniePacjent}" method="get">
                    <input type="hidden" name="id" th:value="${zamowienie.id}">
                    <button class="view-button">Wyświetl</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>