



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Potwierdzanie aptekarzy</title>
  <link rel="stylesheet" href="/css/autoryzacjaAptekarzy.css">
</head>
<body>
<h2 class="naglowek">Lista niepotwierdzonych aptekarzy:</h2>


<table class="aptekarze-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Miasto</th>
    <th>Województwo</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="aptekarz : ${apteki}">
    <td th:text="${aptekarz.id}"></td>
    <td th:text="${aptekarz.name}"></td>
    <td th:text="${aptekarz.miasto}"></td>
    <td th:text="${aptekarz.wojewodztwo}"></td>
    <td>
      <form th:action="@{/Neuca/strefaPracownika/uzytkownikAptekarz}" method="get">
        <input name="id" type="hidden" th:value="${aptekarz.id}">
        <button type="submit" class="action-btn" >Obejrzyj Użytkownika</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<div class="navigation-buttons">
  <a href="/Neuca/strefaPracownika/autoryzacja" class="nav-button">⬅ Wróć do wyboru </a>
  <a href="/Neuca/strefaPracownika" class="nav-button">🏠 Panel główny</a>
</div>

</body>
</html>
