<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Potwierdzanie lekarzy</title>
</head>
<body>
<h2>Lista niepotwierdzonych lekarzy:</h2>

<table border="1">
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Gabinet</th>
    <th>Akcje</th>
  </tr>
  <tr th:each="lekarz : ${lekarze}">
    <form th:action="@{/Neuca/strefaPracownika/uzytkownikLekarz}" method="get">
      <td th:text="${lekarz.imie}">Imię</td>
      <td th:text="${lekarz.nazwisko}">Nazwisko</td>
      <td th:text="${lekarz.nazwaGabinetu}">Gabinet</td>
      <td>
        <button>Obejrzyj Uzytkownika</button>
        <input name="id" type="hidden" th:value="${lekarz.id}">
      </td>
      </form>
    </td>
  </tr>
</table>

</body>
</html>
