<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lekiPracownik.css">
    <title>Dodaj lub przeglądaj leki</title>
</head>
<body>
<div id="container">
    <div class="top-bar">
        <a href="/Neuca/strefaPracownika/dodawanieLeku" class="addPill">Dodaj lek</a>
        <div class="search-wrapper">
            <form>
            <input type="text" name="wzorzec" th:value="${wzorzec}" placeholder="Szukaj po nazwie..." class="search-input">
            <button class="search-button">Szukaj</button>
            </form>
        </div>

        <a href="/Neuca/strefaPracownika" class="nav-button">🏠 Panel główny</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID Leku</th>
            <th>Nazwa Leku</th>
            <th>Gramatura Leku</th>
            <th>Marka Leku</th>
            <th>Cena</th>
            <th>Edycja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lek : ${lista}" >
            <td> <span th:text="${lek.id}"></span> </td>
            <td> <span th:text="${lek.name}"></span> </td>
            <td>  <span th:text="${lek.gramatura}"></span> </td>
            <td> <span th:text="${lek.markaLeku}"></span> </td>
            <td> <span th:text="${lek.cenaString}"></span> </td>
            <td><a th:href="@{'/Neuca/strefaPracownika/edycjaLeku/' + ${lek.id}}" class="edit-button">EDYTUJ</a></td>
        </tr>






        </tbody>
    </table>
</div>

<div id="pagination">
    <div id="page-info"></div>
    <div id="page-controls">
        <form th:action="@{/Neuca/strefaPracownika/przegladajLeki}" method="get">
            <input type="hidden" name="page" th:value="${pop}">
            <input type="hidden" name="wzorzec" th:value="${wzorzec}">
            <button th:if="${czyPoprzednia}" type="submit">Poprzednia</button>
        </form>
        <span th:text="'Strona '+${nas}+' z '+ ${all} "></span>
        <form th:action="@{/Neuca/strefaPracownika/przegladajLeki}" method="get">
            <input type="hidden" name="page" th:value="${nas}">
            <input type="hidden" name="wzorzec" th:value="${wzorzec}">
            <button th:if="${czyNastepna}">Następna</button>
        </form>
    </div>
</body>
</html>
