<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista wizyt</title>
</head>
<body>

<table>
    <button onclick="location.href='/Neuca/strefaLekarza'">Strefa Lekarza</button>  </br></br>  </br></br>
    <form th:action="@{/Neuca/strefaLekarza/przegladajwizyty}">
        Status Wizyty:
        <select name="status">
            <option th:each="status : ${statusy}"
                    th:value="${status}"
                    th:text="${status.slowo}"
                    th:selected="${status.name() == statusN}"></option>
            <option th:value="all" th:text="Wszystkie"
                    th:selected="${'all' == statusN}"></option>
        </select>  </br>
        Sortowanie:
        <select name="sort">
            <option th:value="id" th:selected="${'id' == sort}">Domyslnie</option>
            <option th:value="dros"  th:selected="${'dros' == sort}">Od najstarszych</option>
            <option th:value="dmal"  th:selected="${'dmal' == sort}">Od najnowszych</option>
        </select>
        </br>
        <button> Zastosuj</button>
        <input type="hidden" name="page" th:value="0">
    </form>


    <thead>
    <tr>
        <th>Data</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Status</th>
        <th>Podgląd</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wizyta : ${wizyty}">
        <td th:text="${#temporals.format(wizyta.data, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${wizyta.myUser.imie}"></td>
        <td th:text="${wizyta.myUser.nazwisko}"></td>
        <td th:text="${wizyta.statusWizyty.slowo}"></td>
        <td ><a th:href="@{/Neuca/strefaLekarza/wizyta(id=${wizyta.id})}">Podgląd</td>
    </tr>
    </tbody>
</table>

<div th:if="${czyStron}">

    </br>
    </br>

    <form th:action="@{/Neuca/strefaLekarza/przegladajwizyty}">
        <button th:if="${czyPoprzednia}" >Wroc na poczatek</button>
        <input type="hidden"name="page" th:value="0">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="status" th:value="${status}">
    </form>


    <form th:action="@{/Neuca/strefaLekarza/przegladajwizyty}">
        <button th:if="${czyPoprzednia}" >Poprzednia</button>
        <input type="hidden"name="page" th:value="${poprzednia}">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="status" th:value="${status}">
    </form>

    </br>
    <span th:text=" ' strona '+${page}+ ' z ' + ${total} "> </span>
    </br>

    <form th:action="@{/Neuca/strefaLekarza/przegladajwizyty}">
        <button th:if="${czyNastepna}">Nastepna</button>
        <input type="hidden"name="page" th:value="${nastepna}">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="status" th:value="${status}">
    </form>
    <form th:action="@{/Neuca/strefaLekarza/przegladajwizyty}">
        <button th:if="${czyNastepna}">Idz na koniec</button>
        <input type="hidden"name="page" th:value="${naKoniec}">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="status" th:value="${status}">
    </form>


</div>



</body>
</html>
