<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/zamowieniaPracownik.css">
  <title>Zamówienia</title>
</head>
<body>
<div id="container">
  <div class="top-bar">
    <div class="search-wrapper">
      <form th:action="@{/Neuca/strefaPracownika/realizujZamowienia}">
        <input type="text" name ="id" th:value="${id}" placeholder="Szukaj po ID..." class="search-input">
        <button class="search-button">Szukaj</button>
      </form>
    </div>
    <form>
      <select id="statusSelect" class="filter" name="status" onchange="onStatusChange()">
        <option th:each="status : ${statusy}"
                th:value="${status.name()}"
                th:text="${status.slowo}"
                th:selected="${status} == ${wybranyStatus}">
        </option>
      </select>
    </form>
    <a href="/Neuca/strefaPracownika" class="nav-button">🏠 Panel główny</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID Zamówienia</th>
      <th>Data zamówienia</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Status</th>
      <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zamowienie : ${zamowienia}">
      <td th:text="${zamowienie.id}"></td>
      <td th:text="${zamowienie.displayDateZamowienia}"></td>
      <td th:text="${zamowienie.imie}"></td>
      <td th:text="${zamowienie.nazwisko}"></td>
      <td th:text="${zamowienie.email}"></td>
      <td th:text="${zamowienie.status}"></td>
      <td><a th:href="@{/Neuca/strefaPracownika/Zamowienie(id=${zamowienie.id})}" class="show-button">WYŚWIETL</a></td>
    </tr>

    </tbody>
  </table>
</div>

<div id="pagination">
  <div id="page-info"></div>
  <div id="page-controls">
    <form th:if="${czyPop}">
      <button>Poprzednia</button>
      <input type="hidden" name="status" th:value="${wybranyStatus}">
      <input type="hidden" name="page" th:value="${pop}">
    </form>
    <span th:text="'Strona '+ ${nas} +' z ' +${wszystkie}">Strona 1 z 10</span>
    <form th:if="${czyNas}">
      <button>Następna</button>
      <input type="hidden" name="status" th:value="${wybranyStatus}">
      <input type="hidden" name="page" th:value="${nas}">
    </form>
  </div>
</div>



<script>
  function onStatusChange() {
    const selectedStatus = document.getElementById("statusSelect").value;
    window.location.href = `/Neuca/strefaPracownika/realizujZamowienia?status=${selectedStatus}&page=0`;
  }
</script>


</body>
</html>
