<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja leku</title>
    <link rel="stylesheet" href="/css/rezerwacje.css">
</head>
<body>

<div class="lek-card">
    <img th:src="@{/Neuca/images/{filename}(filename=${#strings.substring(lek.sciezka, lek.sciezka.lastIndexOf('/') + 1)})}"
         alt="Zdjęcie leku" />
    <span th:text="${lek.name}">Nazwa leku</span>
    <span th:text="${lek.gramatura}">Gramatura</span>
    <span th:text="${lek.desc}">Opis</span>
    <span>Wiek: <span th:text="${lek.minWiek}">0</span> - <span th:text="${lek.maxWiek}">99</span></span>
    <span th:text="${lek.rodzajLeku}">Rodzaj</span>
    <span th:text="${lek.markaLeku}">Marka</span>
    <span th:text="${lek.sklad}">Skład</span>
</div>

<form th:action="@{/Neuca/rezerwacjaZlozono}" method="get" class="rezerwacja-form">
    <div class="form-group">
        <label for="ilosc">Ilość</label>
        <input type="number" id="ilosc" name="ilosc" required>
    </div>
    <div class="form-group">
        <label for="imie">Imię</label>
        <input type="text" id="imie" name="imie" required>
    </div>
    <div class="form-group">
        <label for="nazwisko">Nazwisko</label>
        <input type="text" id="nazwisko" name="nazwisko" required>
    </div>

    <div class="form-group">
        <label for="statusSelect">Województwo</label>
        <select id="statusSelect" name="wojewodztwo" onchange="onStatusChange()">
            <option th:each="woj : ${wojewodztwa}"
                    th:value="${woj}"
                    th:text="${woj}"
                    th:selected="${wojewodztwo == woj}">
            </option>
        </select>
    </div>

    <input type="hidden" name="idLeku" th:value="${lek.id}">

    <div th:each="lekStan : ${lekiStan}" class="apteka-box">
        <span th:text="${lekStan.apteka.name}">Apteka</span>
        <span th:text="${lekStan.apteka.ulica + ' ' + lekStan.apteka.numerBud + (lekStan.apteka.numerLokalu != null ? ('/' + lekStan.apteka.numerLokalu) : '')}"></span>
        <span th:text="${lekStan.apteka.kodPocztowy + ' ' + lekStan.apteka.miasto}"></span>
        <span th:text="${lekStan.apteka.wojewodztwo}"></span>
        <span th:text="${lekStan.apteka.telefon}"></span>
        <button type="submit" name="idApteki" th:value="${lekStan.apteka.id}">Zamów do tej apteki</button>
    </div>
</form>


<script th:inline="javascript">

    function onStatusChange() {
        const selectedStatus = document.getElementById("statusSelect").value;
        const id = /*[[${id}]]*/ '0';

        window.location.href = `/Neuca/rezerwujLek?wojewodztwo=${selectedStatus}&id=${id}`;

    }

</script>


</body>
</html>