<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Szczegóły rezerwacji</title>
  <link rel="stylesheet" href="/css/rezerwacjaSzczegoly.css">
</head>
<body>
<div class="details-container">
  <h1>Szczegóły rezerwacji</h1>

  <div class="reservation-box">
    <div class="info-group">
      <label>Imię i nazwisko:</label>
      <p th:text="${rezerwacja.imie} + ' '+ ${rezerwacja.nazwisko}"></p>
    </div>
    <div class="info-group">
      <label>Nazwa leku:</label>
      <p th:text="${rezerwacja.lek.name}"></p>
    </div>
    <div class="info-group">
      <label>Ilość:</label>
      <p th:text="${rezerwacja.ilosc}"></p>
    </div>
    <div class="info-group">
      <label>Data rezerwacji:</label>
      <p th:text="${rezerwacja.dataRezerwacji}"></p>
    </div>
    <div class="info-group">
      <label>Data odbioru:</label>
      <p th:text="${rezerwacja.dataOdbioru}"></p>
    </div>
    <div class="info-group">
      <label>Status:</label>
      <p th:text="${rezerwacja.statusRezerwacji}"></p>
    </div>
  </div>

  <div class="buttons">
    <a href="/Neuca/strefaAptekarza/zarzadzajApteka" class="back-button">Wróć</a>
    <form th:if="${czyWydano}" th:action="@{/Neuca/strefaAptekarza/zmienStanRezerwacji}" method="get">
      <button class="confirm-button">Wydano zamówienie</button>
      <input type="hidden" name="ile" value="1">
      <input type="hidden" name="id" th:value="${rezerwacja.id}">
    </form>
    <form th:if="${czyAnuluj}" th:action="@{/Neuca/strefaAptekarza/zmienStanRezerwacji}" method="get">
      <button class="confirm-button">Anuluj zamówienie</button>
      <input type="hidden" name="ile" value="2">
      <input type="hidden" name="id" th:value="${rezerwacja.id}">
    </form>
  </div>
</div>
</body>
</html>
