<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcenter</title>
    <link rel="stylesheet" href="/css/mainStyle.css">

</head>
<body>
<div id="line"></div>
<div id = "mainContainer">

    <div id="topMenu">
        <a href="/Neuca/start"><img src="/img/logo.png" id="logo"></a>
        <div id="wyszukiwarka">
            <form th:action="@{/Neuca/buy}">
                <input type="text" id="search" name="wzorzec" placeholder="Wyszukaj...">
                <button id="searchButton">Szukaj</button>
            </form>

        </div>
        <div id="panelLogowania" th:if="${not log}">
            <div class="ukryteLogowanie">
                <button id="loginButton" onclick="location.href='/Neuca/login'">Zaloguj</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="registerButton">Zarejestruj</button>
                <div class="ukryteLogowanie-content">
                    <button id="pacjentRegister" onclick="location.href='/Neuca/rejestracjaPacjent'">Zarejestruj jako Pacjent</button>
                    <button id="aptekarzRegister" onclick="location.href='/Neuca/rejestracjaAptekarz'">Zarejestruj jako Aptekarz</button>
                    <button id="lekarzRegister" onclick="location.href='/Neuca/rejestracjaLekarz'">Zarejestruj jako Lekarz</button>

                </div>
            </div>
        </div>
        <div id="panelLogowania" th:if="${log}">
            <div class="ukryteLogowanie">
                <button id="koszyk" onclick="location.href='/Neuca/koszyk'">Koszyk</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="mojeKonto" onclick="location.href='/Neuca/mojProfilPacjent'">Moje Konto</button>
            </div>
            <div class="ukryteLogowanie">
                <button id="wyloguj" onclick="location.href='/Neuca/logout'">Wyloguj</button>
            </div>

        </div>
        <img src="/img/avatar.png" id="avatar">
    </div>
    <div id="top2Menu">
        <div class="menu-item"><button onclick="location.href='/Neuca/lekarze'">Lekarze</button></div>

        <div class="menu-item">
            <button id="aptecsButton" onclick="location.href='/Neuca/apteka'">Apteki</button>

        </div>

        <div class="menu-item">
            <button id="servicesButton" onclick="location.href='/Neuca/uslugi'">Usługi</button>

        </div>

        <div class="menu-item">
            <button id="medicinesButton" onclick="location.href='/Neuca/buy'">Leki</button>

        </div>

        <div class="menu-item">
            <button id="contactButton" onclick="location.href='kontakt.html'">Kontakt</button>

        </div>

        <div class="menu-item">
            <button id="usButton" onclick="location.href='/Neuca/oNas'">O nas</button>
            <div class="submenu">

            </div>
        </div>
    </div>




</div>
<div id="line"></div>
<div id="tiles_section">
    <h1>Witaj na stronie HealthCenter!</h1>
    <h3>To platforma, która umożliwia szybkie i wygodne korzystanie z usług medycznych.</h3>
    <div class="tiles_container">
        <div class="tile">
            <img src="/img/lekarze.png" alt="Lekarze">
            <h3>Lekarze</h3>
            <p>Sprawdź dostępnych lekarzy oraz ich specjalizacje.</p>
        </div>
        <div class="tile">
            <img src="/img/apteka.png" alt="Apteki">
            <h3>Apteki</h3>
            <p>Znajdź najbliższe apteki i sprawdź ich dostępność leków.</p>
        </div>
        <div class="tile">
            <img src="/img/leki.png" alt="Leki">
            <h3>Leki</h3>
            <p>Wyszukaj i porównaj ceny oraz dostępność leków.</p>
        </div>
        <div class="tile">
            <img src="/img/wizytaOnLine.png" alt="Usługi">
            <h3>Usługi</h3>
            <p>Umów się na badanie, konsultację lub rehabilitację.</p>
        </div>
        <div class="tile">
            <img src="/img/aptekarz.png" alt="Usługi">
            <h3>Profil Aptekarza</h3>
            <p>Zarejestruj swoją aptekę i rozwijaj ją z nami.</p>
        </div>
    </div>
    <script>
        (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="JP60NVXL88Rk_RtulDjeL";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
    </script>


</div>

</body>
</html>