<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>STREFA PRACOWNIKA</title>
</head>
<body>
<a href="start"   > <span th:text="#{menu.start}"></span> </a> </br>
<div class="okienko">
  <a href="/Neuca/strefaPracownika/dodawanieLeku"> Dodaj Lek </a>

</div>

<div class="okienko">
  <a href="/Neuca/strefaPracownika/realizujZamowienia"> <span>Realizuj Zamowienia</span> </a>

</div>

<div class="okienko">
  <a href="/Neuca/strefaPracownika/przegladajLeki"   > Przeglad edycja, dodawanie i usuwanie Lekow </a>
</div>

<div class="okienko">
  <a href="/Neuca/strefaPracownika/potwierdzanieUzytkownikowLekarze"   > Potwierzdzaj Lekarzy </a>
</div>

<div class="okienko">
  <a href="/Neuca/strefaPracownika/potwierdzanieUzytkownikowAptekarze"   > Potwierzdzaj Aptekarzy </a>
</div>

</body>
</html>