<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil aptekarza</title>
  <link rel="stylesheet" href="/css/strefaAptekarza.css" type="text/css">
  <link rel="stylesheet" href="/css/kalendarz.css" type="text/css">
  <link rel="stylesheet" href="/css/fontelloCSS/fontello.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
<div id="container">

  <div class="grid-container">
    <a href="/Neuca/strefaAptekarza/edytujApteke" class="tile tile1"><i class="icon-user-md"></br>Mój profil</i></a>
    <a href="/Neuca/strefaAptekarza/zarzadzajApteka" class="tile tile1"><i class="icon-laptop"></br>Zarządzaj apteką</i></a>
    <a href="/Neuca/logout" class="tile logOut"><i class="icon-off"></br>Wyloguj</i></a>
    <a href="poczta.html" class="tile tile3"><i class="icon-mail"></br>Skrzynka pocztowa</i></a>

    <!-- Kalendarz osadzony w kafelku -->
    <div class="tile mainBack" id="calendar-tile">
      <div id="calendar-container">
        <div class="calendar">
          <div class="calendar-header">
            <span class="month-picker" id="month-picker">Styczeń</span>
            <div class="year-picker">
              <span class="year-change" id="prev-year"><pre><</pre></span>
              <span id="year">2025</span>
              <span class="year-change" id="next-change"><pre>></pre></span>
            </div>
          </div>

          <div class="calendar-body">
            <div class="calendar-week-day">
              <div>Poniedziałek</div>
              <div>Wtorek</div>
              <div>Środa</div>
              <div>Czwartek</div>
              <div>Piątek</div>
              <div>Sobota</div>
              <div>Niedziela</div>
            </div>
            <div class="calendar-days"></div>
          </div>

          <div class="month-list"></div>
        </div>
      </div>
    </div>

    <a href="zamowienia.html" class="tile tile2"><i class="demo-icon icon-basket"></br>Zamówienia</i></a>
  </div>




  <script>
    (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="QzQl4Kjx2X1VTPIeSs2kQ";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
  </script>

</div>

<script src="/js/kal.js"></script>
</body>
</html>
