<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>strefaLekarza</title>
</head>
<body>

<div class="okienko">
    <a href="/Neuca/strefaLekarza/GodzinyPracy"> Ustal godziny przyjec </a>  </br>
    <a href="/Neuca/strefaLekarza/edytujGabinet">Edytuj Gabinet</a>   </br>
    <a href="/Neuca/strefaLekarza/przegladajwizyty?status=all">Przegladaj i potwiedzaj Wizyty</a>  </br>

    <a href="/Neuca/logout">Wyloguj się</a>  </br>
</div>



</body>
</html>