
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lek usunięty</title>
    <link rel="stylesheet" href="/css/usunieto.css">
</head>
<body>
<div class="container">
    <h1>Lek został pomyślnie usunięty</h1>
    <p>Operacja przebiegła pomyślnie. Lek został usunięty z systemu.</p>
    <div class="links">
        <a href="/Neuca/strefaPracownika">Strefa Pracownika</a>
        <a href="/Neuca/strefaPracownika/przegladajLeki">Powrót do listy leków</a>
    </div>
</div>
</body>
</html>
