<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfiguracja apteki</title>
    <link rel="stylesheet" href="/css/konfigurujApteke.css">
</head>
<body>
<div class="setup-container">
    <h1>Witaj aptekarzu!</h1>
    <p>Przed rozpoczęciem pracy, uzupełnij dane swojej apteki:</p>

    <form class="setup-form" action="#" th:action="@{/Neuca/strefaAptekarza/utworzonoApteke}" th:object="${apteka}" method="post" >
        <div class="row">
            <input type="text"  th:field="*{name}" placeholder="Nazwa apteki" required>
            <input type="tel" th:field="*{telefon}" placeholder="Numer telefonu" required>
        </div>

        <div class="row">
            <input type="text" th:field="*{ulica}" placeholder="Ulica" required>
            <input type="text" th:field="*{numerBud}" placeholder="Numer budynku" required>
            <input type="text" th:field="*{numerLokalu}" placeholder="Numer lokalu">
        </div>

        <div class="row">
            <input type="text" th:field="*{kodPocztowy}" placeholder="Kod pocztowy" required>
            <input type="text" th:field="*{miasto}" placeholder="Miasto" required>
            <select name="voiv" th:field="*{wojewodztwo}" required>
                <option th:each="woj :${woje}"
                        th:value="${woj}"
                        th:text="${woj}"
                        th:field="*{wojewodztwo}">
                </option>

            </select>
        </div>

        <button type="submit" class="save-button">Zapisz i przejdź do panelu</button>
    </form>
</div>
</body>
</html>
