<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Podsumowanie zamówienia</h2>

<p>Imię: <span th:text="${imie}"></span></p>
<p>Nazwisko: <span th:text="${nazwisko}"></span></p>
<p>Email: <span th:text="${email}"></span></p>
<p>Telefon: <span th:text="${telefon}"></span></p>
<p>Adres 1: <span th:text="${adres1}"></span></p>
<p>Adres 2: <span th:text="${adres2}"></span></p>

<h3>Dostawa:</h3>
<p th:text="${dostawa.getSlowo()}"></p>

<h3>Faktura:</h3>
<div th:if="${czyFaktura}">
  <p>Nazwa firmy: <span th:text="${nazwaFirmy}"></span></p>
  <p>Adres 1: <span th:text="${adres1F}"></span></p>
  <p>Adres 2: <span th:text="${adres2F}"></span></p>
  <p>NIP: <span th:text="${NIP}"></span></p>
</div>

<h3>Produkty w koszyku:</h3>
<table>
  <tr>
    <th>Nazwa leku</th>
    <th>Ilość</th>
    <th>Cena za 1 sztukę</th>
    <th>Cena całkowita</th>
  </tr>
  <tr th:each="produkt : ${koszyk}">
    <td th:text="${produkt.lek.name}"></td>
    <td th:text="${produkt.ilosc}"></td>
    <td th:text="${produkt.cenaJednostkowa}"></td> <!-- Cena jednostkowa w złotych -->
    <td th:text="${produkt.cenaCalosciowa}"></td> <!-- Cena całkowita w złotych -->
  </tr>
</table>

<span > Aktualny stan</span>
<span  th:text="${status}"></span>

<form th:action="@{/Neuca/strefaPracownika/zmienStatus}" method="post">
  <input type="hidden" name="id" th:value="${id}">
  <button>Zmien status</button>
</form>

<h3>Łączna cena za produkty:</h3>
<p th:text="'Cena całkowita: ' + ${sumaKoszyka} + ' PLN'"></p>

</body>
</html>